.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: rgb(71, 52, 98);
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}

.nav {
    background-color: rgb(204, 107, 138);
    color: rgb(239, 219, 228);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    background-color: rgb(71, 52, 98);
    align-items: center;
}

footer {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgb(71, 52, 98);
    justify-content: flex-end;
}

.game_container {
    border: 4px solid rgb(196, 187, 216);
    border-radius: 10px;
    font-size: 15px;
    height: 700px;
    width: 90%;
    margin: 20px;
    position: relative;
    overflow: hidden;
}

.button_layout {
    display: flex;
    flex-direction: row;
}

.game_buttons {
    width: 250px;
    height: 50px;
    margin: 10px;
    margin-bottom: 0;
    background-color: transparent;
    border: 2px solid rgb(196, 187, 216);
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: bold
}

.game_buttons:hover {
    background-color: rgb(204, 107, 138);
}

.dude_button {
    height: 50px;
    width: 50px;
    position: absolute;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgb(204, 107, 138);
    box-shadow: 2px 2px 5px black;
}

@keyframes popIn {
    0% { transform: scale(0); opacity: 0; }
    80% { transform: scale(1.2); }
    100% { transform: scale(1); opacity: 1; }
}

.dude_button {
    animation: popIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}